.popup__group_itt{
  background-color: white;
  z-index: 2;
  width: 430px;
  height: 330px;
  color: black;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  border-radius: 10px;
}