.input__form_credentials{
  background-color: unset;
  color: white;
  border: solid 2px #ccc;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
}

.input__form_credentials::placeholder{
  color: #ccc;
}