.header {
  height: 74px;
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

@media screen and (max-width:500px){
  .header {
    overflow-x: visible;
    height: 56px;
    padding-top: 28px;
    width: 100%;
  }
}